/* reset style */
*{
    padding:0;
    margin:0;
    font-family: "Open Sans", sans-serif;

}
img{
    max-width: 100%;
}

.common-btn{
    background-color: #FD6E0A;
    padding: 10px 10px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 18px;
    color:white;
    border: none;
    cursor: pointer;
}
.outline-btn{
    border: 1px solid #FD6E0A;
    color:#FD6E0A;
    background-color: white;
    padding: 10px 10px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.container{
    max-width: 1200px;
    margin:auto;

}
.name{
    font-weight: bold;
    font-size: 30px;
}
.name-r{
    color: #FD6E0A;
    
}
nav{
    display:flex;
    justify-content: space-between;
    padding:12px 0px;
    
}

ul{
    display:flex;
    justify-content: space-between;
    list-style: none;
    gap:10px;
    align-items: center;
}

ul li a {
    text-decoration: none;
}

/* hero section style */
.hero-parent-root{
    background-color: #FFF8F3;
}
.hero-parent{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.hero-left-p1{
    font-weight: 600;
    font-size: 30px;
}
.hero-left h2{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 12px;
}
.hero-left-btn-parent{
    margin-top:12px;
}

/* About Section */

.parent-about-section{
    background-color: #FFF8F3;
    margin: 40px auto;
    padding:30px;
    text-align: center;
}
.about-box-parent{
    display:flex;
    justify-content: space-between;
    gap:10px;
    margin: 20px 0px 0px;
}

.about-box-parent .box{
    background-color: #d9a178;
    padding: 10px;
    border-radius: 10px;
}
.parent-about-section h2 p{
    margin: 10px 10px;
}



/* About me section */
.what-i-do-parent{
    text-align: center;
}
.what-i-do-parent h2{
    margin: 28px 0px;
}
.what-i-do-parent p{
    padding: 20px;
    margin: 60px auto;
}
.what-i-do-box{
    margin-top: 30px;
    display:flex;
    justify-content: space-between;
    gap:8px;
}
.what-i-do-box .what-i-do-card{
    padding:10px;
    border: #FD6E0A solid 2px;
    text-align: left;
}
.what-i-do-box .what-i-do-card h2{
    margin: 10px 0px;
}
.what-i-do-box .what-i-do-card p{
    color:#757575;
    font-size: 15px;
}



/* Amazing Works section */
.amazing-works-root{
    margin:20px auto;
    text-align: center;
}
.amazing-works{
    display:grid;
    margin-top:20px;
    gap:12px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 250px;
    grid-template-areas: 
    "one two three"
    "four two six"
    "four five six";
}
.amazing-works img{
    height:100%;
    width:100%;
    object-fit: cover;
}
.image1{
    grid-area: one;
}
.image2{
    grid-area: two;
}
.image3{
    grid-area: three;
}
.image4{
    grid-area: four;
}
.image5{
    grid-area:five;
}
.image6{
    grid-area: six;
}

/* Footer Section  */

.footer-root{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    margin-top:70px !important;
    gap: 15px;
    background-color:#FFF8F3;
    padding: 20px;
    border-radius: 10px;

}
.footer form{
    padding:20px;
}
.right-footer form input,
.right-footer form textarea {
    outline: none;
    border:none;
    background-color:white;
    padding:8px 15px;
    border-radius: 8px;
    display:block;
    margin-bottom: 8px;
    width:100%;
}
